<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <!-- {{ books.length }}  -->
    </ion-title>
    <!-- <ion-title *ngIf="campaign$ | async as campaign" mode="md">{{ campaign.campaign_name }}</ion-title> -->

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Inbox
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <!-- <ion-list *ngIf="books$ | async as books">
    <ion-item *ngFor="let book of books">
      <ion-label>
        <h2>{{ book.title }}</h2>
      </ion-label>
    </ion-item>
  </ion-list> -->
</ion-content>


<!-- <div *ngIf="books$ | async as books">
  <div *ngFor="let book of books">
    <h2>{{ book.title }}</h2>
    <img [src]="book.imageUrl" alt="{{ book.title }}">
    <p>Average Rating: {{ book.averageRating }}</p>
    <p>Ratings Count: {{ book.ratingsCount }}</p>
  </div>
</div> -->